.container{
    display: flex;
    background-color: rgb(82, 156, 231);
    height: 200px;
    width: 500px;
    gap: 1px;
    flex-wrap: wrap;
}

.item-1{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    flex-grow: 1;
}
.item-2{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    flex-grow: 1;
}
.item-3{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    flex-grow: 1;
}
.item-4{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    flex-grow: 1;
   
}
.item-5{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    flex-grow: 0.42;
}


