*{
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50% ), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.nbar{
    width: 1400px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;

}

ul{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 100px;
    margin-top: 25px;
    font-size: 20px;
    
}

ul li a{
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

ul li a:hover{
    color: #db4e23;
}

.content{
    width:570px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    margin-left: -300px;
    text-align: center;
    color:#fff;

}
.content h1{
    font-size: 70px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif
}
.content p{
    font-size: 15px;
    margin: 20px auto;
    font-weight: 300;

}


