
.container{
    max-width: 1200px;
    margin: 0 auto
}

.content{
    width: 1221.6px;
    display: table;
}

aside,
main{
   
    height: 200px;
    float: left;
    box-sizing: border-box;
    display: table-cell;
    padding: 5px;
}

nav,
header{
    width: 100%;
}

nav{
    height: 50px;
    margin: 1% 0;
}

header{
    height: 80px;
    margin: 1% 0;
    padding: 20px;

}

main{
    width: 68%;
}

aside{
    width: 15%;
    height: auto;
    margin-left: auto;
    height: 200px;
}

footer{
    float: none;
    clear: both;
    height: 80px;
    width: 100%;
    margin: 0px;
}

.left-section{
    margin: 0px 1% 0px 0px;
}

.right-section{
    margin: 0px 0px 1% 1%;
}

header,
nav,
main,
.left-section,
.right-section,
footer
 {
    text-align: center;
    border: 1px solid #0000;
    margin-bottom: 10px; 
    padding: 10px;
    background-color: #dedede;
    font-family: "Lucida Sans";
}

