body{
  margin:0 auto;
}

table {
    border-collapse: collapse;
    width: 1200px;
    margin:50px auto;
  }
  
  th, td {
    border: 1px solid#94b9ef;
    padding: 5px;
    text-align: center;
    width: 150px;
  }

  
  th{
    background-color: #f0f0f0;
  }

  td{
    background-color: #ffffff;
    height:100px;
    font-size: 25px;
  }

  td:empty {
    background-color: #f0f0f0;
  }

  .den{
    background-color: #94b9ef;
    color:white;
    font-weight: bold;
    font-size: 18px;
    width: 100px;
  }

 .neviditelny {
    background-color: #94b9ef;
  }

  .hodina{
    font-weight: lighter;
    font-size: 15px;
  }

  hr{
    background-color: #94b9ef;
  }

  @media (max-width: 1200px) {
    table {
      width: 100%;
    }
  
    th, td {
      width: auto;
    }
   

  }